imageio==2.9.0
imagesize==1.2.0
imutils==0.5.2
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.4
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-resnet==0.1.0
keras-retinanet==0.5.0
matplotlib==3.0.2
mistune==0.8.4
msgpack==0.6.1
msgpack-numpy==0.4.4.2
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.4
numpy==1.15.4
opencv-python==3.4.0.14
packaging==20.4
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.1
pathtools==0.1.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
progress==1.5
progressbar==2.5
progressbar2==3.39.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pycocotools==2.0
Pygments==2.3.1
pyparsing==2.3.0
python-dateutil==2.7.5
python-utils==2.3.0
pytz==2018.9
PyWavelets==1.1.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.22.0
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.20.2
scipy==1.2.0
Send2Trash==1.5.0
SimpleITK==1.2.0
six==1.12.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
streamlit==0.47.1
tabulate==0.8.3
tensorboard==1.12.2
tensorflow-gpu==1.12.0
tensorpack==0.8.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
tzlocal==2.0.0
urllib3==1.25.3
validators==0.14.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
